@font-face {
  font-family: '汉体';
  src: url('/src/assets/fonts/cn/Black.ttf');
}

@font-face {
  font-family: '华康金刚黑';
  src: url('/src/assets/fonts/cn/HuaKangGoldenBlack.ttf');
}

@font-face {
  font-family: '宋体';
  src: url('/src/assets/fonts/cn/STSONG.TTF');
}

@font-face {
  font-family: 'TIME NEW ROMAN';
  src: url('/src/assets/fonts/en/TIMES.TTF');
}
